@import "./root.css";

.blog-content-container {
  margin: 1.25rem 0;
}
.blog-content-container * {
  font-size: 1.25rem;
  font-family: Fellix;
}
.blog-content-container sup {
  font-size: 1rem !important;
}

.blog-content-container h2 {
  margin: 1rem 0;
}
.blog-content-container h2 *,
.blog-content-container h2 {
  color: var(--gray-900);
  font-size: 2rem !important;
  text-transform: capitalize;
  font-weight: 700 !important;
}
.blog-content-container a *,
.blog-content-container a {
  color: var(--primary-600);
  font-weight: 500 !important;
}

.blog-content-container h3 {
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
}
.blog-content-container h3 *,
.blog-content-container h3 {
  font-size: 1.5rem !important;
  text-transform: capitalize;
  font-weight: 600 !important;
}
.blog-content-container h4 {
  margin-top: 1.2rem;
  margin-bottom: 0.8rem;
}
.blog-content-container h4 *,
.blog-content-container h4 {
  font-size: 1.2rem !important;
  text-transform: capitalize;
  font-weight: 600 !important;
}
.blog-content-container p,
.blog-content-container p * {
  margin: 0.8rem 0;
  line-height: 1.9rem;
  font-size: 1.25rem !important;
}
.blog-content-container p b,
.blog-content-container p strong .blog-content-container span b,
.blog-content-container span strong {
  font-weight: 500;
}
.blog-content-container img {
  margin: 2rem 0;
  border-radius: 1.5rem;
  overflow: hidden;
}

.blog-content-container table {
  border: 1px solid lightgray;
  border-collapse: collapse;
  width: 100%;
  margin: 2rem 0;
}

.blog-content-container table td,
.blog-content-container table th {
  border: 1px solid var(--gray-500);
  padding: 0.5rem;
  text-align: center;
}

.blog-content-container table tr:nth-child(even) {
  background-color: var(--gray-200);
}

.blog-content-container .video-shortcode,
.blog-content-container .video-shortcode iframe {
  margin: 2rem 0;
  width: 100%;
  border-radius: 1.5rem;
  overflow: hidden;
}

.blog-content-container ol,
.blog-content-container ul {
  list-style-type: none;
  counter-reset: my-counter;
  padding-left: 0;
}
.blog-content-container ol li,
.blog-content-container ul li {
  position: relative;
  margin-bottom: 0.62rem;
  padding-left: 1.5rem;
  line-height: 1.9rem;
  font-size: 1.25rem !important;
}
.blog-content-container ol li::before {
  content: counter(my-counter) ".";
  counter-increment: my-counter;
  position: absolute;
  left: 0;
}

.blog-content-container ul li::before {
  content: "\2022";
  position: absolute;
  left: 0;
  font-weight: bold;
}

.blog-breadcrumb {
  @apply bg-transparent;
}
.blog-breadcrumb > * {
  @apply font-medium;
}
.blog-breadcrumb > *:hover {
  @apply text-primary-600;
}
.breadcrumb-link:hover {
  @apply text-primary-600;
}

.comment-input::placeholder {
  @apply text-gray-700;
}

/* medium Screen Break Points */
@media (max-width: 900px) {
  .blog-content-container * {
    font-size: 1.1rem;
  }
  .blog-content-container sup {
    font-size: 0.8rem !important;
  }

  .blog-content-container h2 {
    margin: 0.8rem 0;
  }
  .blog-content-container h2 *,
  .blog-content-container h2 {
    font-size: 1.8rem !important;
  }
  .blog-content-container h3 {
    margin-top: 1.2rem;
    margin-bottom: 0.8rem;
  }
  .blog-content-container h3 *,
  .blog-content-container h3 {
    font-size: 1.3rem !important;
  }
  .blog-content-container h4 {
    margin-top: 1.1rem;
    margin-bottom: 0.8rem;
  }
  .blog-content-container h4 *,
  .blog-content-container h4 {
    font-size: 1.1rem !important;
  }

  .blog-content-container p,
  .blog-content-container p * {
    margin: 0.8rem 0;
    line-height: 1.8rem;
    font-size: 1.2rem !important;
  }
  .blog-content-container img {
    margin: 1.8rem 0;
    border-radius: 1.2rem;
  }

  .blog-content-container table {
    margin: 1.8rem 0;
  }

  .blog-content-container table td,
  .blog-content-container table th {
    padding: 0.7rem;
  }

  .blog-content-container .video-shortcode,
  .blog-content-container .video-shortcode iframe {
    margin: 1.2rem 0;
    border-radius: 1.2rem;
  }
  .blog-content-container ol li,
  .blog-content-container ul li {
    margin-bottom: 0.42rem;
    padding-left: 1.2rem;
    line-height: 1.8rem;
    font-size: 1.2rem !important;
  }
}

/* Small Screen Break Points */
@media (max-width: 600px) {
  .blog-content-container * {
    font-size: 0.9rem;
  }
  .blog-content-container sup {
    font-size: 0.6rem !important;
  }

  .blog-content-container h2 {
    margin: 0.6rem 0;
  }
  .blog-content-container h2 *,
  .blog-content-container h2 {
    font-size: 1.5rem !important;
  }
  .blog-content-container h3 {
    margin-top: 1rem;
    margin-bottom: 0.6rem;
  }
  .blog-content-container h3 *,
  .blog-content-container h3 {
    font-size: 1.1rem !important;
  }
  .blog-content-container h3 {
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
  }
  .blog-content-container h3 *,
  .blog-content-container h3 {
    font-size: 1rem !important;
  }

  .blog-content-container p,
  .blog-content-container p * {
    margin: 0.6rem 0;
    line-height: 1.5rem;
    font-size: 1rem !important;
  }
  .blog-content-container img {
    margin: 1.5rem 0;
    border-radius: 1rem;
  }

  .blog-content-container table {
    margin: 1.5rem 0;
  }

  .blog-content-container table td,
  .blog-content-container table th {
    padding: 0.5rem;
  }

  .blog-content-container .video-shortcode,
  .blog-content-container .video-shortcode iframe {
    margin: 1rem 0;
    border-radius: 1rem;
  }
  .blog-content-container ol li,
  .blog-content-container ul li {
    margin-bottom: 0.42rem;
    padding-left: 1rem;
    line-height: 1.5rem;
    font-size: 1rem !important;
  }
}
