.blog-comment-avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.blog-comment-title {
  @apply font-medium capitalize;
  font-size: 18px;
}
.blog-comment-text {
  font-size: 16px;
}

.blog-comment-replies-list {
  padding: 20px;
  border-left: 1px dashed #90949c4d;
}
.comment-action-button {
  @apply text-primary-600;
}
