@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./footer.css";

* {
  @apply font-sans !important;
}

.disable-user-select * {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.disable-user-select *::selection {
  background: none;
}

.disable-user-select *::-moz-selection {
  background: none;
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

input {
  all: unset;
}

main {
  @apply py-4 sm:py-8 md:py-10;
}

.cont {
  @apply px-4 sm:px-8 md:px-14 lg:px-20;
}

.page-title {
  @apply font-sans text-[20px] font-semibold text-primary-600 sm:text-[26px] md:text-[32px];
}

.search-input::placeholder {
  @apply text-gray-600;
}

.max-two-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.post-card-author-avatar {
  @apply h-[19px] w-[19px] md:h-[30px] md:w-[30px];
}

.show-more-button {
  @apply mt-6 rounded-full border border-solid border-primary-500 px-8 py-1 text-center text-[13px] font-medium text-primary-500 hover:bg-primary-100 md:mt-16 md:w-full md:max-w-sm md:text-lg;
}

.section-title {
  @apply mb-2 w-full pb-2 text-left text-[17px] font-semibold capitalize md:mb-6 md:pb-4 md:text-[28px];
}
.section-title-with-bottom-border {
  @apply section-title border-b border-solid border-gray-500;
}

.hide-more-than-three-sm {
  @apply [&>*:nth-child(n+4)]:hidden md:[&>*:nth-child(n+4)]:inline-block;
}
