:root {
  --primary: #792bf8;
  --primary-100: #f8f1ff;
  --primary-200: #ead9fe;
  --primary-300: #dec1ff;
  --primary-400: #9c6cea;
  --primary-600: #5b18ca;

  --secondary: #f69321;
  --secondary-100: #ffe8df;
  --secondary-200: #fdcf70;
  --secondary-300: #ffbfa8;
  --secondary-400: #ff9a76;

  --tertiary: #0da8ba;
  --white: #ffffff;
  --gray-100: #fff;
  --gray-200: #f5f5f5;
  --gray-300: #f7f8fa;
  --gray-400: #e9eaf0;
  --gray-500: #d8dae3;
  --gray-600: #b8bac3;
  --gray-700: #888b94;
  --gray-750: #4b5166;
  --gray-800: #383c49;
  --gray-900: #14192b;
  --success: #7fba7a;
  --error: #fc5a5a;
  --backgroundColor: #fff;
  --backgroundColorOne: #f8f8f8;
  --TableBorderColor: #eff2f7;
  --transparent: transparent;
}
